{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="container-fluid w-100">
        <div class="row bg-danger bg-gradient w-auto">
            <div class="col  d-flex justify-content-center">
                <form method="post" class="bg-secondary-subtle w-25 m-o p-4">
                    {% if error %}
                        <div class="alert alert-danger ">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté comme  {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                    <label for="inputEmail">E-mail</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control w-100" autocomplete="email" required autofocus>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control w-100" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <button class="btn btn-outline-secondary my-3" type="submit">
                        Valider
                    </button>
                    <p>
                        Vous n'avez pas de compte ? Inscrivez-vous <a href="{{ path('app_inscription') }}">ici</a>
                    </p>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
