{% extends 'base.html.twig' %}

{% block title %}Choix des adresses{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {% set formhtml %}
            {% set params = {'adrL' : adrL, 'adrF' : adrF } %}
            {{form_start(f, { action : path('recap', params)}) }}
                {{form_row(f.transporteur,{
                    'label_attr' : {'class' : 'fs-6 bg-dark bg-gradient text-white'},
                    'attr' : {'class' : 'alert alert-info'}
                }) }}
                
                {{ form_widget(form) }}
            {{form_end(f)}}
            {% endset %}
            {{ formhtml|replace({'[br]' : '<br/>'}) |raw }}
        </div>
    </div>
{% endblock %}
