{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
{% for product in products %}
    <section class="container-fluid">
        <div class="card" style="width: 18rem;">
            <a href="{{ path('product', { 'id' : product.id }) }}">
                <img src="asset(assets/images/products/{{ product.image }})" class="card-img-top" alt="product">
                <div class="card-body">
                    <h5 class="card-title">{{ asset('assets/images/products/{{ product.image }}') }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">{{ (product.price / 100)|number_format(2,',','.') }} </p>
                    <a href="{{ path('ajouterPanier', { 'id' : product.id }) }}" class="btn btn-primary">Ajouter au panier</a>

                </div>
            </a>
        </div>
    </section>
{% endfor %}
        

{% endblock %}
